p {
    font-size: 12px;
    font-family: Helvetica, serif;
    line-height: 1.5;
    color: #071d44;
    

}

a:hover {
    background-color: red;
}

a:visited {
    color: blueviolet;
}

div {
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

blockquote {

    font-size: 160%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 235, 241);
    border-left:  solid 3px;
    padding-left: 30px;
    margin: 80px;
    
}

body {
    background-image: url(Users/catalano/Desktop/charlie.png);
    background-position: padding bottom right;
    background-size: cover;
    background: radial-gradient(circle, #e8b17d, #6666f0);
    

}